<div style="margin: 5rem; display:flex;">
  <div>
    <h1> State:</h1>
    {{#each this.arr2 as |item|}}
      <div>
        <h1>{{item.name}}</h1>
      </div>
    {{/each}}
  </div>
  <div>
    <h1> Dragula</h1>
    <Dragula
      @onReady={{this.initDragula}}
      @options={{this.dragulaOptions}}
      as |Container|
    >
      <Container>
        {{#each this.arr2 as |item|}}
          <h1
            data-test-email-builder-config-block={{item.name}}
          >{{item.name}}</h1>
        {{/each}}
      </Container>
    </Dragula>
  </div>

</div>
<button {{on "click" this.reverseArr}}>reverse array state</button>